---
import BreadCrumbArea from "@components/BreadCrumbArea.astro";
import Layout from "src/layouts/Layout.astro";
---

<Layout title="Awrosoft Contact">
  <BreadCrumbArea title={"Contuct Us"} currentPage={"Contact"} />

  <section class="awrosoft-contact-page-area pt-90 pb-120">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="section-title mb-35 mt-30">
            <span>Contact With Us</span>
            <h3 class="title">Feel Free to Get in Touch</h3>
          </div>
          <div class="conatct-info">
            <div class="item">
              <div class="icon">
                <img src="src/assets/images/icon/phone-icon.png" alt="" />
              </div>
              <div class="content">
                <span>Sales</span>
                <h5 class="title">
                  <a href="tel:+96407507233223">+964 (0) 750 7233223</a>
                </h5>
                <span>Info</span>
                <h5 class="title">
                  <a href="tel:+96407508233223">+964 (0) 750 8233223</a>
                </h5>
                <span>Support</span>
                <h5 class="title">
                  <a href="tel:+9647509233223">+964 (0) 750 9233223</a>
                </h5>
              </div>
            </div>
            <div class="item">
              <div class="icon">
                <img src="src/assets/images/icon/mail-icon.png" alt="" />
              </div>
              <div class="content">
                <span>Support E-mail</span>
                <h5 class="title">
                  <a href="mailto:support@awrosoft.com">support@awrosoft.com</a>
                </h5>
                <span>Info E-mail</span>
                <h5 class="title">
                  <a href="mailto:info@awrosoft.com">info@awrosoft.com</a>
                </h5>
                <span>Sales E-mail</span>
                <h5 class="title">
                  <a href="mailto:sales@awrosoft.com">sales@awrosoft.com</a>
                </h5>
              </div>
            </div>
            <div class="item">
              <div class="icon">
                <img src="src/assets/images/icon/map-icon.png" alt="" />
              </div>
              <div class="content">
                <span>Our Address</span>
                <h5 class="title">
                  Empire World, <br /> Bussines Towers T4, <br /> Floor 1, No. 1
                  , <br /> Erbil, Iraq
                </h5>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="contact-form-page-box mt-30">
            <form action="#">
              <div class="row">
                <div class="col-lg-6">
                  <div class="input-box">
                    <input type="text" placeholder="Your Name" />
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="input-box">
                    <input type="email" placeholder="Email Address" />
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="input-box">
                    <input type="text" placeholder="Phone Number" />
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="input-box">
                    <input type="text" placeholder="Subject" />
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="input-box">
                    <textarea
                      name="#"
                      id="#"
                      cols="30"
                      rows="10"
                      placeholder="Write a Message"></textarea>
                    <button type="submit" class="main-btn"
                      >Send a message</button
                    >
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="awrosoft-map">
    <iframe
      src={`https://maps.google.com/maps?q=Awrosoft&t=&z=11&ie=UTF8&iwloc=&output=embed`}
      width="600"
      height="450"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</Layout>
