---
const { clients } = Astro.props;
---

<div class="row awrosoft-sponser-slide">
  {
    clients.map((client) => {
      return (
        <div class="col-lg-3">
          <div class="awrosoft-sponser-item">
            <img src={`${client.imagePath}`} alt="" />
          </div>
        </div>
      );
    })
  }
</div>
