---
import Clients from "./Clients.astro";

const sponsers = [
  {
    title: "HP",
    imagePath: "src/assets/images/sponsers/hp.png",
  },
  {
    title: "Dermalog",
    imagePath: "src/assets/images/sponsers/dermalog.png",
  },
  {
    title: "EMC",
    imagePath: "src/assets/images/sponsers/emc.png",
  },
  {
    title: "VMware",
    imagePath: "src/assets/images/sponsers/vmware.png",
  },
  {
    title: "Lenovo",
    imagePath: "src/assets/images/sponsers/lenovo.png",
  },
  {
    title: "Microsoft ",
    imagePath: "src/assets/images/sponsers/microsoft.png",
  },
  {
    title: "Cisco",
    imagePath: "src/assets/images/sponsers/cisco.png",
  },
];
---

<section
  id="partners"
  class="infetech-sponser-area infetech-sponser-area-2 sponsers"
>
  <div class="container">
    <Clients clients={sponsers} />
  </div>
</section>
