---
import HeaderSection from "@components/HeaderSection";
export interface Props {
  title: string;
}

const { title } = Astro.props;

import "../assets/css/bootstrap.min.css";
import "../assets/css/font-awesome.min.css";
import "../assets/css/animate.min.css";
import "../assets/css/magnific-popup.css";
import "../assets/css/slick.css";
import "../assets/css/default.css";
import "../assets/css/style.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <HeaderSection />
    <slot />

    <!--====== jquery js ======-->
    <script src="../assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="../assets/js/vendor/jquery-1.12.4.min.js"></script>

    <!--====== Bootstrap js ======-->
    <script src="../assets/js/bootstrap.min.js"></script>

    <!--====== magnific popup js == ====-->
    <script src="../assets/js/jquery.magnific-popup.min.js"></script>

    <!--====== counterup js == ====-->
    <script src="../assets/js/jquery.counterup.min.js"></script>
    <script src="../assets/js/waypoints.min.js"></script>

    <!--====== wow js ======-->
    <script src="../assets/js/wow.js"></script>

    <!--====== circle progress js ======-->
    <script src="../assets/js/circle-progress.js"></script>

    <!--====== Slick js ======-->
    <script src="../assets/js/slick.min.js"></script>

    <!--====== Main js ======-->
    <script src="../assets/js/main.js"></script>
  </body>
</html>
